1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd
s = pd.Series([4, 8, 15, 16, 23,42])
s

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [2]:
list = ['m','a','d','i','h','a',1,9,8,7]
s1 = pd.Series(list)
s1

0    m
1    a
2    d
3    i
4    h
5    a
6    1
7    9
8    8
9    7
dtype: object

3. Create a Pandas DataFrame that contains the following data, Then, print the DataFrame.

In [5]:
dic = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}
s3 = pd.DataFrame(dic)
s3

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [16]:
'''In Pandas, a DataFrame is a 2-dimensional labeled data structure with columns of potentially 
different types. It is similar to a spreadsheet or a SQL table, and can be thought of as a collection 
of Pandas Series that share the same index.

The key differences between a Pandas Series and a DataFrame is: a Series is a one-dimensional array-like 
object that can hold any data type, while a DataFrame is a two-dimensional table-like data structure that
can hold multiple Series of different data types.'''

dic = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}
s3 = pd.DataFrame(dic)
print(s3)

'''In this example, the DataFrame has three columns (Name, Age, and Gender) and three rows
(corresponding to each person). Each column is a Series, and they share the same index (0, 1, and 2). 
We can access each column by using its label.'''

Names = s3['Name']
Ages = s3['Age']
Genders = s3['Gender']

#Each of these variables (names, ages, and genders) will be a Series object with its own index and values.
Names

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

0     Alice
1       Bob
2    Claire
Name: Name, dtype: object

5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

In [19]:
#df.head(): This function returns the first n rows of a DataFrame. 
'''For example, df.head(10) will return the first 10 rows of a DataFrame.'''

#df.tail(): This function returns the last n rows of a DataFrame. 
'''For example, df.tail(10) will return the last 10 rows of a DataFrame.'''

#df.describe(): This function provides summary statistics of a DataFrame's numeric columns, 
#including count, mean, standard deviation, minimum, and maximum values.

#df.index(): This function returns the new indexs name of a DataFrame
dic = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}
s3 = pd.DataFrame(dic)
print(s3)

s3.index=['One','Two', 'Three']
s3

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

         Name  Age  Gender
One     Alice   25  Female
Two       Bob   30    Male
Three  Claire   27  Female

6. Which of the following is mutable in nature Series, DataFrame, Panel?

    DataFrames are both value and size-mutable.
    A Series, by contrast, is only value-mutable, not size-mutable. The length of a Series cannot be changed    although the values can be changed.
    In Panel Data and size are mutable.

7. Create a DataFrame using multiple Series. Explain with an example.

In [26]:
mr = pd.Series(['Madiha', 'Data Science', 'Masters', 'Previous'])
fr = pd.Series(['Fazal', 'Data Science', 'Masters', 'Previous'])
us = pd.Series(['Umair', 'Statistics', 'Masters', 'Previous'])
s4 = pd.DataFrame([mr, fr, us])
s4

        0             1        2         3
0  Madiha  Data Science  Masters  Previous
1   Fazal  Data Science  Masters  Previous
2   Umair    Statistics  Masters  Previous